.box{
    width:300px;height:200px;
    border:1px solid #ccc;
    position: fixed;
    left:0;top:0;right:0;
    bottom: 0;
    margin:auto;
}
.title{
    width:100%;height:30px;
    text-align: center;
    line-height: 30px;background: #ccc;
}
.con{
    width:100%;height:170px;
    line-height: 30px;text-align: center;
}
span{
    color:red;
}