<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}/bootstrap.min.css">
    <style>
        th{
            text-align: center;
        }
    </style>
</head>
<body>
    <table class="table text-center">
        <tr>
            <th>
                id
            </th>
            <th>
                所属分类
            </th>
            <th>
                标题
            </th>
            <th>
               作者
            </th>
            <th>
                点击数
            </th>
            <th>
                点赞数
            </th>
            <th>
                状态
            </th>
            <th>
                发布时间
            </th>
            <th>
                操作
            </th>
        </tr>
<!--

select * from shows inner join user on shows.uid=user.uid;
-->
        {foreach  $result as $v}
        <tr>
            <td>{$v["sid"]}</td>
            <td>{$v["cname"]}</td>

            <td>{$v["stitle"]}</td>
            <td>{$v["uname"]}</td>
            <td>{$v["hits"]}</td>
            <td>{$v["good"]}</td>
            <td>{if $v["statu"]==0}
                未审核
                {elseif $v["statu"]==1}
                审核中
                {elseif $v["statu"]==2}
                审核未通过
                {elseif $v["statu"]==3}
                审核通过
                {/if}
            </td>
            <td>{$v["stime"]}</td>
            <td>
                <a href="index.php?m=admin&f=art&a=info&sid={$v['sid']}">查看</a>
                <a href="">删除</a>
            </td>
        </tr>

        {/foreach}


    </table>

    {$pages}
</body>
</html>