<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        {$result[0]["stitle"]}
    </h1>
    <p>
        {$result[0]["scon"]}
    </p>
   <form action="index.php?m=admin&f=art&a=editinfo" method="post">
       未审核:<input type="radio" value="0" name="statu"><br>
       审核中:<input type="radio" value="1" name="statu"><br>
       未通过:<input type="radio" value="2" name="statu"><br>
       通过:<input type="radio" value="3" name="statu"><br>
       <input type="hidden" value="{$result[0]['sid']}" name="sid">
       <input type="submit" value="提交">

   </form>
</body>
</html>