<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="{JS_PATH}/message.js"></script>
    <link rel="stylesheet" href="{CSS_PATH}/message.css">

</head>
<body>
  <div class="box">
      <div class="title">
          提示信息
      </div>
      <div class="con">
           {$message}
          <span>3</span>秒后返回首页<br>
          没有跳转，请 <a href="{$url}">点击</a>
      </div>
  </div>
</body>
</html>