<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}/bootstrap.min.css">
</head>
<body>
   <table class="table table-bordered text-center">
       <tr>
           <th class="text-center">id</th>
           <th class="text-center">用户名</th>
           <th class="text-center">操作</th>
       </tr>

       {foreach $result as $v}
       <tr>
           <td>{$v["uid"]}</td>
           <td>{$v["uname"]}</td>
           <td>
               <a class="btn btn-default" href="index.php?m=admin&f=user&a=del&id={$v['uid']}" role="button">删除</a>
               <a class="btn btn-default" href="index.php?m=admin&f=user&a=edit&id={$v['uid']}" role="button">编辑</a>
           </td>
       </tr>
       {/foreach}

   </table>
</body>
</html>