{include file="index/header.html"}
<link rel="stylesheet" href="{CSS_PATH}/bootstrap.min.css">
<script src="{EDIT_PATH}/ueditor.config.js"></script>

<script src="{EDIT_PATH}/ueditor.all.min.js"></script>

<script type="text/javascript" charset="utf-8" src="{EDIT_PATH}/lang/zh-cn/zh-cn.js"></script>
<!--
 分类表

 cid  name  pid
 内容表
 id  title con  img cid time hits good  posid author
-->
<form action="index.php?m=index&f=art&a=add" method="post">

    <div class="form-group">
        <label for="cid">选择分类</label>
        <select class="form-control" name="cid" id="cid">
            <option value="0">一级分类</option>
            {$tree}

        </select>
    </div>


    <div class="form-group">
        <label for="stitle">文章标题</label>
        <input type="text" class="form-control" id="stitle" name="stitle" placeholder="标题">
    </div>

    <div class="form-group">
        <label for="scon">文章内容</label>
        <script id="editor" type="text/plain" style="width:1024px;height:500px;" name="scon"></script>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>
<script>
    var ue = UE.getEditor('editor');
</script>
</body>
</html>